* {
    margin: 0;
}

.mail {
    width: 100%;
    height: 100vh;
}

.center {
    width: 100%;
    height: 20vh;
    background-color: #003580;
    border: 1 px solid black;
    display: flex;
    /* gap: 2rem;
   padding: 2rem;  */
}

.img {
    border-radius: 50%;
    margin-top: 2rem;
    /* /ng-right: 1rem; */

}

.img1 {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 2rem;
    margin-left: 2rem;

}
.name{
    margin-top: 1.8rem;
    margin-left: 0rem;
    /* border: 1px solid black; */
    height: 5vh;
    /* background-color: white; */
    font-weight: 300;
    border: none;
    /* width: 10%; */
    /* text-align: center; */
    border-radius: 5px;
}
.Reactrictoin {
    margin-top: 2rem;
    margin-left: 1rem;
    /* border: 1px solid black; */
    height: 5vh;
    background-color: white;
    font-weight: 400;
    width: 10%;
    text-align: center;
    border-radius: 5px;
}
.Reactrictoin:hover{
    transform: scale(1.1);
}

.Login {
    margin-top: 2rem;
    margin-right: 1rem;
}

.logoIcon {
    /* margin-top: 5rem; */
    /* border: 1px solid black; */
    height: 5vh;
    width: 6rem;
    border-radius: 20px;
    color: white;
    margin-left: 5rem;

    /* left: ; */
}
.logoIconList{
    margin-top: 5rem;
    
}

.logoIcon:hover {
    color: white;
    border: 1px solid white;

}

.secondCenter {
    width: 100%;
    height: 40vh;
    background-color: #003580;
    margin-top: -5rem;
    display: flex;
    /* gap: 3rem; */
    /* margin-left: 2rem; */
    /* justify-content: space-evenly; */

}

.center_second {
    display: flex;
}

.input_text {
    width: 30%;
    height: 8vh;
    margin-top: 1rem;
    border: 4px solid #febb02;
    outline: none;
    border-radius: 7px;
    z-index: 2;
    text-align: center;
    align-items: center;
    cursor: pointer;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}
.date{
    text-align: center;
    padding: 10%;
    
    /* margin-top: 5rem; */
}

.input_text1 {
    width: 30%;
    height: 8vh;
    margin-top: 1rem;
    margin-left: 4.5rem;
    text-align: center;
    outline: none;
    border-radius: 7px;
    background-color: white;

    border: 4px solid #febb02;
    
}

.input_text_buttom {
    width: 15%;
    height: 8vh;
    margin-top: 1rem;
    text-align: center;
    outline: none;
    border-radius: 7px;

    border: 4px solid #febb02;
}

.input_text_buttom1 {
    width: 10%;
    height: 10vh;
    margin-top: 1rem;
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: 700;
    outline: none;
    border-radius: 7px;

    border: 4px solid #febb02;

}
.menuItem{
    /* border: 1px solid black; */
    margin-left: 3.5rem;
    margin-top: 1.5rem;
    width: 85%;
    height: auto;
    margin-left: 5.5rem;

}
.scroolList{
    /* border: 1px solid black; */
    margin-left: 5rem;
    margin-top: 1.5rem;
    width: 85%;
    height: 35vh; 
}