.ImgTag {
    /* position: absolute; */
    width: 100%;
    height: 90;
    border-radius: 15px;
margin-left: .7rem;
z-index: 2;
/* position: sticky; */
    
   


}

.text {
    
    /* margin-top: -4rem; */
    margin-left: 1.5rem;
    color: black;

}
.text1{
    width: 50rem;
    margin-top: 2rem;
    margin-left: -5rem;
    color: black;
}
.button{
    margin-top: 6rem;
    margin-left: 0rem;
    color: black;
    outline: none;
    border: none;
    background-color: #003580;
}
.main{
    display: flex;
    justify-content: space-between;
}
.p{
    /* margin-bottom: 5rem; */
}